<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceDirectory" value="\\172.21.150.212\sblsummary\TesterOUIAutoUpdate" />
    <!-- Don't add "\" symbol at the back of the last directory -->
    <add key="SourceDirectoryUserName" value="sblsummaryw" />
    <add key="SourceDirectoryPassword" value="sblsummarypwdw" />
    <add key="DestinationDirectory" value=".\" />
    <add key="ExecuteFile" value=".\Tester.OUI.exe" />
    <add key="LogFileName" value=".\Tester.OUI.AutoUpdater.log" />
  </appSettings>
</configuration>