<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tester.OUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <logger name="tracelog">
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </logger>
    <logger name="secslog">
      <level value="INFO" />
      <appender-ref ref="SecsAppender" />
    </logger>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <!-- Size;Date;Composite -->
      <param name="MaxSizeRollBackups" value="2"/>
      <!--<param name="MaximumFileSize" value="5MB"/>-->
      <param name="DatePattern" value="'Tester.OUI.'yyyyMMdd'.Log'"/>
      <param name="StaticLogFileName" value="false"/>
      <!--<lockingModel type="log4net.Appender.FileAppender+ExclusiveLock"/>-->
      <encoding value="utf-8"/>
      <!--<immediateFlush value="true"/>-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level - %message%newline"/>
      </layout>
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL"/>
        <levelMax value="OFF"/>
      </filter>-->
    </appender>
    <appender name="SecsAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <!-- Size;Date;Composite -->
      <param name="MaxSizeRollBackups" value="50"/>
      <param name="DatePattern" value="'Secs.'yyyyMMdd'.Log'"/>
      <param name="StaticLogFileName" value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+ExclusiveLock"/>
      <encoding value="utf-8"/>
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL"/>
        <levelMax value="OFF"/>
      </filter>
    </appender>
  </log4net>
  <applicationSettings>
    <Tester.OUI.Properties.Settings>
      <setting name="Tester_OUI_TesterRecipe_Service_TesterRecipe_Service"
        serializeAs="String">
        <value>http://172.21.150.157/Tester_service/TesterRecipe_Service.asmx</value>
      </setting>
      <setting name="Tester_OUI_Tester_Service_TestSummary_Service"
        serializeAs="String">
        <value>http://172.21.150.134/Tester_Service/TestSummary_Service.asmx</value>
      </setting>
    </Tester.OUI.Properties.Settings>
  </applicationSettings>
</configuration>