<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinformTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WinformTest.Properties.Settings>
            <setting name="WinformTest_summary_service_TestSummary_Service"
                serializeAs="String">
                <value>http://172.21.155.196/tester_service/TestSummary_Service.asmx</value>
            </setting>
        </WinformTest.Properties.Settings>
    </applicationSettings>
</configuration>